@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Mono";
}
body{
  margin: 0;
  padding: 0;
  background: rgb(13,17,23);
  height: 100vh;

}

// .container {
//   background-image: url(background-gatito.png);
// }

.flex-home {
  align-items: center;
  width: 70%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  // background-image: url(background-gatito.png)
  // align-items: center;
  // gap: 80px;
}

.logo-home {
width: 310px;
height: 310px;
background-image: url(miaudote-logo.gif);
border-radius: 50%;
background-repeat: no-repeat;
background-position: center;
}

.center{
  width: 400px;
  height: 500px;
  background-image: url(background-gatito.png);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a7f3906b;
  border-radius: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.199);

}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #154e3d;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0;
  height: 30px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100px;
  height: 40px;
  border: 1px solid;
  background: #00C2CB;;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  align-items: center;

}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
  border-radius: 10%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.199);
}
.signup_link a:hover{
  text-decoration: underline;
  border-radius: 10%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.199);
}

.typewriter h1 {
  color: rgb(45, 47, 167);
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #a7f3906b; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .2s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 80% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #a7f3906b }
}

@media screen and (max-width: 600px) {
  .flex-home {
    flex-direction: column;
    gap: 20px;
  }

  .logo-home {
    width: 150px;
    height: 150px;
  }
}
