    <div class="flex-home">
      <div class="logo-home">
      </div>

      <div class="center">
        <h1>🐾</h1>
        <div class="signup_link">
          <%= link_to 'Dogin', new_user_session_path, class: 'btn btn-outline-primary mt-3' %>
        </div>
          <div class="signup_link">
            <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-outline-primary mt-3' %>
          </div>
        </form>
      </div>
    </div>
