.btn-update {
  width: 117px !important;
  padding: 8px !important;
  font-size: 12px !important;
  border-radius: 2px !important;
  height: 35px !important;
  background-color: transparent !important;
  border-color: white !important;
  color: white !important;
  font-weight: normal !important;
}

.btn-update:hover {
  background-color: rgb(88,166,255) !important;
  color: white !important;

}

.btn-create {
  width: 65px !important;
  padding: 8px !important;
  font-size: 14px !important;
  border-radius: 2px !important;
  height: 40px !important;
  background-color: transparent !important;
  border-color: rgb(206,212,218) !important;
  color: rgb(206,212,218) !important;
  font-weight: normal !important;
}

.btn-create:hover {
  background-color: transparent!important;
  color: rgb(88,166,255) !important;
  border-color: rgb(88,166,255)  !important;
}

 .animal {
  // padding: 8px !important;
  border-radius: 2px !important;
  background-color: transparent !important;
  border-color: rgb(206,212,218) !important;
  color: rgb(206,212,218) !important;
  font-weight: normal !important;
  align-items: center !important;
 }

 .animal:hover {
  background-color: transparent !important;
  border-color: rgb(88,166,255) !important;
  color: rgb(88,166,255) !important;
 }

 .animal-erase {
  border-radius: 2px !important;
  background-color: transparent !important;
  border-color: rgb(206,212,218) !important;
  color: rgb(206,212,218) !important;
  font-weight: normal !important;
  align-items: center !important;
 }

 .animal-erase:hover {
  background-color: transparent !important;
  border-color: red !important;
  color: red !important;
 }

 .animal-love {
  border-radius: 2px !important;
  background-color: transparent !important;
  border-color: rgb(206,212,218) !important;
  color: rgb(206,212,218) !important;
  font-weight: normal !important;
  align-items: center !important;
 }

 .animal-love:hover {
  background-color: transparent !important;
  border-color: red !important;
  color: red !important;
 }

 .links {
   text-decoration: none;
 }

.log-icon {
  padding-right: 10px;
}
