.footer {
  background: rgb(22,27,34);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 100px;
  color: rgb(201,210,210);
  // position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(35,134,54);
  opacity: 0.9;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: rgb(88,166,255);

}
.footer .fa-heart {
  color: #D23333;
}
