.animal-img {
  width: 100%;


}

.cl-animal-image {
  width: 100%;
  background-size: cover;
}

.img-carousel {
  display: block;
        height: 500px;
        max-width: 100%;
        line-height: 1;
        margin:auto;

        border-radius: 20px;
}

.banner {
  padding-left: 40%;
}
