.navbar-lewagon {
  justify-content: space-between;
  background: rgb(73,80,87);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: rgb(201,210,210) !important;
}

.nav-link:hover {
  color: red !important;
}
