.navbar-lewagon {
  justify-content: space-between;
  background: rgb(22,27,34);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: rgb(35,134,54) !important;
}

.nav-link:hover {
  color: red !important;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-left: 83.5rem !important;
}
