.navbar-lewagon {
  // justify-content: space-between;
  background: rgb(22,27,34);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: rgb(35,134,54) !important;
  padding-top: 17px !important;
}

.nav-link:hover {
  color: red !important;
}

// .log-icon {
//   padding-left: 83.5rem !important;
//   padding-top: 16px !important;
// }
