.search-bar {
  margin-top: 40px;
}
.form-search {

 align-items: center;
}

.search-label {
  padding-right: 5px;
  font-family: 'Pompiere';
  font-size: 30px;
  align-content: center;
}

.search-btn {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-radius: 0 25px 25px 0 !important;
  height: 26px !important;
}

.search-location {
  padding: 0;
  margin-right: 0;
  font-family: 'Pompiere';
}
